<section class="section">
  <div class="container">
    <div class="box">
      <h1 class="title">Register</h1>

      <div class="field">
        <label class="label">Username</label>
        <div class="control has-icons-left">
          <input [(ngModel)]="username" class="input" placeholder="joe_42" type="text" value="">
          <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        </div>
      </div>

      <div class="field">
        <label class="label">Password</label>
        <div class="control has-icons-left">
          <input [(ngModel)]="password" class="input" placeholder="" type="password" value="">
          <span class="icon is-small is-left">
          <i class="fas fa-key"></i>
        </span>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <button (click)="register()" class="button is-link">Register</button>
        </div>
        <div class="control">
          <button class="button is-link is-light" routerLink="/login">Login</button>
        </div>
      </div>

    </div>
  </div>
</section>

